/* очистить все границы и отступы*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
/* изменение подсчета ширины блока для удобной верстки*/
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* убрать линии обводки у некоторых браузеров*/
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
/*делает теги блочными*/
nav,footer,header,aside,main{display: block;}

/*одинаковое поведение шрифтов для разных браузеров*/
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*наследование семейство шрифта для "особенных" тегов*/
input,button,textarea{font-family: inherit;}

/* убирают лишнее в отображении в разных браузерах*/
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/* обнуление заголовкков*/
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400; }

html{
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 24px;
    color: #AE7C78;
    background: #FFFFFF;
}
body{
    min-width: 800px;
    height: inherit;
}
main{
    margin: 0 auto;

}
/* блок навигации*/
header{
    width: 100%;
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
    margin: 32px 0 0px 0;
}
nav{
    display: flex;
    flex-flow: nowrap row;
    justify-content:space-around;
    align-items: center;
    flex-grow:1;
    height: 64px;
}
nav ul{
    display: flex;
    flex-flow: nowrap row;
    justify-content:space-around;
    align-items: center;
    flex-grow:1;
}
nav a{
    flex: 1 1 auto auto;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #AE7C78;
    order: 2;
    align-self: center;
}
nav a:hover{
    text-decoration: underline;
}
ul.left{
    order: 1;
}
ul.right{
    order: 3;
}
/* блок основного контента */
.main_row{
    min-width: 650px;
    display: flex;
    flex-wrap:nowrap;
    height: 544px;
    align-items: center;
}
.main__element1 {
    width: 384px;
    margin-left: auto;
}
.main__element1 h1{
    font-family: "Playfair Display", serif;
    font-size: 44px;
    line-height: 59px;
    margin-bottom: 24px;
}
.main__element1 h1 span{
    font-style: italic;
}
.main__element1 p {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 64px;
}
.main__element1 a{
    display: block;
    width: 280px;
    padding: 30px 70px;
    color: #FFFFFF;
    background-color: #D89999;
    border-radius: 40px;
}
.main__element1 a:hover{
    text-decoration: underline;
}
.main__element1 a:active{
    background-color: #AE7C78;
    text-decoration: underline;
}
.main__element2 {
    align-self: flex-end;
    margin: 0 20px;
}
.main__element3{
    margin-right: auto;
}
/*Блок с информацией о доствке*/
h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
    margin: 0 0 8px 0;
}
.rules p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.rules {
    display: flex;
    flex-wrap:wrap;
    margin-top: 42px;
    margin-bottom: 80px;
}
.rules__row_car {
    width: 384px;
    height: max-content;
    background: url("../img/car.svg") left top/82px 52px no-repeat;
    padding-left: 100px;
    margin-left: auto;
}
.rules__row_bouquet {
    width: 386px;
    height: max-content;
    background: url("../img/bouquetsvg.svg") left top/52px 52px no-repeat;
    padding-left: 70px;
    margin: 0 10px;
}
.rules__row_camera {
    width: 387px;
    height: max-content;
    background: url("../img/camera.svg") left top/59px 52px no-repeat;
    padding-left: 80px;
    margin-right: auto;
}
h2 {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: 0.02em;
    text-align: center;
}
/*Блок со слайдером*/
div.slider {
    display: flex;
    flex-wrap:nowrap;
    margin: 20px 0 36px 0;
}
div.slider div{
    width: 387px;
}
.slider_info h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
}
.slider_info p{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
}
p.value {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 64px;
}
.slider_info a{
    display: block;
    width: 285px;
    padding: 30px 105px;
    color: #FFFFFF;
    background-color: #D89999;
    border-radius: 40px;
}
.slider_info a:hover{
    text-decoration: underline;
}
.slider_info a:active{
    background-color: #AE7C78;
    text-decoration: underline;
}
.slider_info {
    margin-left:auto;
}
.slider_img {
    margin-right: auto;
}
.button {
    text-align: center;
    margin-bottom: 80px;
}
.button button {
background-color: #FFFFFF;
}
/* блок с разделами католога для быстрого перехода*/
.catalog {
    display: flex;
    flex-wrap:nowrap;
    margin-bottom: 80px;
}
.catalog div:first-of-type a:first-of-type{
    background: rgba(174, 124, 120, 0.6) url("../img/wedding_bouquet.jpg") 50% no-repeat;
    width: 387px;
    height: 442px;
    text-align: center;
    border-radius: 10px;
    padding-top: 195px;
    display: block;
    z-index: 0;
}
.catalog div:nth-of-type(2) a:first-of-type{
    background: rgba(174, 124, 120, 0.6) url("../img/bouquet_with_pion.jpg") 50% no-repeat;
    display: block;
    width: 387px;
    height: 442px;
    text-align: center;
    padding-top: 195px;
    border-radius: 10px;
    z-index: 0;
}
.catalog div:nth-of-type(3) a:first-of-type{
    background: rgba(174, 124, 120, 0.6) url("../img/other_bouquet.jpg") 50% no-repeat;
    display: block;
    width: 387px;
    height: 442px;
    text-align: center;
    padding-top: 195px;
    border-radius: 10px;
    z-index: 0;
}
.catalog div {
    margin: 0 10px 0;
    position: relative;
}
.catalog div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 10px;
    background: rgba(174, 124, 120, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none
}
.catalog div a h3 {
    position: relative;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    z-index: 2;
}
.catalog div a p{
    position: relative;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    z-index: 3;
}
.catalog div:first-child{
    margin-left: auto;
}
.catalog div:last-child{
    margin-right: auto;
}
/* Блок реклама со скидкой*/
.sales{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom: 80px;
}
.sales div{
    position: initial;
    min-width: 590px;
    width: 590px;
    height: 391px;
    background-color: #AE7C78;
}
.sales div h2, .sales div p{
    color: #FFFFFF;
}
.sales div h2{
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-size: 44px;
    line-height: 59px;
    margin: 40px 100px 24px;
}
.sales div p{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin: 0px 100px;
}
/* блок с шагами */

div.steps {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    text-align: center;
    margin:36px 0 80px;
}
div.steps div {
    width: 285px;
    margin: 0 10px 0;
}
div.steps div img{
    margin-bottom: 8px;
}
/*блок с соц сетями "news"*/
.news {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.news div:first-child{
    width: 387px;
    margin-right: 120px;
}
.news div:first-child h2{
    text-align: left;
}
.news div:first-child p{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin: 40px 0;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
}
.column img:first-child{
    margin-bottom: 20px;
}
.news div ul{
    display: flex;
}
.news div ul li:nth-child(2){
    margin: 0 20px;
}
/* ОТЗЫВЫ */
.feedback{
    margin: 0 auto;
    border: 1px solid #AE7C78;
    padding: 40px 44px 64px;
    text-align: center;
    width: max-content;
}
.feedback div{
    display: inline-block;
    text-align: center;
}
.feedback div div{
    width: 300px;
}
.feedback h2 {
    margin-bottom: 40px;
}
blockquote {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}
cite {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
/*карта и контакты*/
.contact{
    margin: 0 auto;
    width: 1436px;
    height: 645px;
    background: url("../img/map.jpg") 50% no-repeat;
}
.contact div{
    margin: 50px 0 0 220px;
    width: 386px;
    height: 520px;
    background: #F7FAFC;
    box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
    border-radius: 12px;
}
.contact div h2{
    text-align: left;
    padding: 40px 0 40px 35px;
}
.contact div dt{
    padding: 0px 0 21px 35px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
.contact div dd{
    padding: 0px 0 32px 35px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.contact div dd a{
    color: #AE7C78;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
/*footer*/
footer {
    display: flex;
    flex-flow: nowrap row;
    justify-content:space-around;
    align-items: center;
    flex-grow:1;
    height: 64px;
    background-color: #AE7C78;
}
footer a {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}
footer ul.menu-footer{
    display: flex;
    flex-flow: nowrap row;
    justify-content:space-around;
    align-items: center;
    flex-grow:1;
}
footer ul.socials{
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
footer ul a{
    margin: 0 10px ;
    color: #FFFFFF;
}